# 简洁风格配置
format = """
$directory\
$git_branch\
$git_status\
$python\
$nodejs\
$cmd_duration\
$line_break\
$character"""

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
format = "[$branch]($style) "
style = "bold purple"

[git_status]
format = '([$all_status$ahead_behind]($style) )'
style = "bold red"

[python]
format = '[${pyenv_prefix}(${version})(\($virtualenv\))]($style) '
style = "yellow"

[nodejs]
format = "[$version]($style) "
style = "green"

[cmd_duration]
min_time = 2000
format = "[$duration]($style) "
style = "bold yellow"

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❯](bold red)"
